project_name = "mindsight"
aws_region   = "ap-northeast-2"

db_password = "change-me"

web_image_uri = "123456789012.dkr.ecr.ap-northeast-2.amazonaws.com/mindsight-prod-web:latest"
api_image_uri = "123456789012.dkr.ecr.ap-northeast-2.amazonaws.com/mindsight-prod-api:latest"

acm_certificate_arn = "arn:aws:acm:ap-northeast-2:123456789012:certificate/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"

web_env_vars = {
  NEXT_PUBLIC_FIREBASE_PROJECT_ID = "mindsight-prod"
}

api_env_vars = {
  FIREBASE_PROJECT_ID = "mindsight-prod"
}
